
    *{
background-color: rgb(218, 237, 253);
 }
    body{
height: 100%;
position:relative;

}

    nav{
text-align:right;
margin-top:-50px;
padding: blue;
color: blue;
text-underline-position:below;}


 header h1{
padding: 50px;
text-align: left;
background: #3d1abc;
color: white;
font-size: 30px;


 }

#img1{
position:left;
margin:1px;
border-left: black;


}

#img2{
position:center;
margin:1px;
border-left: black;


}

#img3{
position:right;
margin:1px;
border-left: black;


}